body
{
	margin: 30px;
	font-family: sans-serif;
}
#errorText
{
	padding: 10px 20px;
	color: red;
	background-color: #ffc4c4;
	border: 2px solid red;
	border-radius: 5px;
}
#passwordOutput
{
	padding: 5px 0;
	text-align: center;
	background-color: #c4ffd5;
	border-radius: 5px;
}
form
{
	margin-top: 25px;
}